################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TasksOrganizer/obj/Debug
/TasksOrganizer/.vs/TasksOrganizer/v15
/TasksOrganizer/.vs/TasksOrganizer/v15
